.all_items-border {
    background-color: rgba(227, 242, 253, 0.5);
    height: 200px;
    text-align: center;
    border: 3px solid white;
}

.all_items-title {
    font-size: 22px;
    color: #f48191;
    font-weight: bold;
    padding-top: 1.5%;
    padding-bottom: 2%;
}

.all_items-left {
    float: left;
    margin-left: 5%;
    font-size: 11px;
}

.all_items-right {
    float: right;
    margin-right: 5%;
    font-size: 11px;
}

.all_items-summary {
    background-color: rgb(240, 230, 247);
    height: 100px;
    text-align: center;
}

.all_items-edit {
    font-size: 14px;
    padding-left: 5px;
    color: #f48191;
}