{% extends 'mySite/base.html' %}

{% block content %}
    {% for item in items %}
        <div class="col-md-4">
            <h3><a href="">{{ item.title }}</a></h3>
            <p>{{ item.description|linebreaksbr }}</p>
            <p>Estimated Hours: {{ item.estimated_hour }}</p>                        
            <p>Completed Hours: {{ item.spent_hour }}</p>                                    
            <p>Completed Percentage: {{ item.percentage }}</p>                        
            <p>created: {{ item.created_date }}</p>            
        </div>
    {% endfor %}  
{% endblock %}