{% extends 'mysite/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4 today_items-block">
        <h4 class="today_items-title">Today's Summary</h4>
        <div class="row">
            <div class="col-md-6 text-center">
                Total Allocated: <b style="color:rgb(0, 175, 204); font-size: 20px;">{{ total_allocated }}</b> h
            </div>
            <div class="col-md-6 text-center">
                Total Completed: <b style="color:rgb(149, 193, 34); font-size: 20px;">{{ total_completed }}</b> h
            </div>
        </div>
        <div class="row">
            <div id="today-chart"></div>                      
        </div>
    </div>
    <div class="col-md-4 today_items-block">
        <h4 class="today_items-title">TODO
            <a href="{% url 'today_items_new' %}" class="today_items-add"><span class="glyphicon glyphicon-plus"></span></a>            
        </h4>
        <ol style="min-height: 170px;">            
        {% for item in today_items %}
            {% if item.remained_hour > 0 %}
            <li class="today_items-linespace">
                <div><b>
                    <span>&nbsp;&nbsp;{{ item.time_item }}: </span>  
                    <span>{{ item.task_description }}</span></b>&nbsp;&nbsp;
                    <a href="{% url 'today_items_edit' pk=item.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>                        
                </div>
                <div>
                    <span>&nbsp;&nbsp;remaining time: <em>{{ item.remained_hour }}</em></span> 
                    <span>&nbsp;&nbsp;completed time: {{ item.completed_hour }}</span>                     
                </div>
            </li>      
            {% endif %}            
        {% endfor %}  
        </ol>    
        <h4 class="today_items-title">DONE</h4>
        <ul>                
        {% for item in today_items %}
            {% if item.remained_hour <= 0 %}
            <li class="today_items-linespace">
                <div>
                    <span>&nbsp;&nbsp;{{ item.time_item }} - </span>  
                    <span>{{ item.task_description }}: </span>
                    <span><b><em>{{ item.completed_hour }}</em></b> hours</span>                                             
                </div>
            </li>      
            {% endif %}            
        {% endfor %}  
        </ul>    
    </div>
    <div class="col-md-4 today_items-block">
        <h4 class="today_items-title">All Tasks Summary</h4>
        {% for item in items %}
        <div>
            <div class="today_items-summary_title">{{ item.title }}</div>                     
            <div class="row">
                <span class="all_items-left">
                    Completed: {{ item.spent_hour }} hours
                </span>
                <span class="all_items-right">
                    Total: {{ item.estimated_hour }} hours
                </span>         
            </div>                                    
            <div class="progress">
                <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{ item.spent_hour }}" 
                aria-valuemin="0" aria-valuemax="{{ item.estimated_hour }}" style="width:{{ item.percentage }}" name="percentage">
                    {{ item.percentage }}
                </div>
            </div>
        </div>
    {% endfor %}
    </div>    
</div>
<div class="row" style="margin-top: -8%;">
    <div style="background-color: rgb(240, 230, 247);">
        <h4 class="today_items-title" style="padding-top: 20px;">Recent Trend</h4>
        <div id="trend-chart">
    </div>
</div>
<script type="text/javascript">
    // pie chart
    var chart_data = {{ chart|safe }};
    var color_list = ['#ff7172', '#00afcc', '#95c122', '#bbd695', '#d4b9e5'];
    var colors_json = {};

    for (var i = 0; i < chart_data.length; i++) {
        if (i < color_list.length) {
            colors_json[chart_data[i][0]] = color_list[i];
        } else {
            colors_json[chart_data[i][0]] = color_list[i - color_list.length];
        }
    }

    c3.generate({
        bindto: '#today-chart',
        data: {
            columns: chart_data,
            type : 'pie',
            colors: colors_json
        }
    });
    // line chart
    var trend = {{ trend|safe }}
    var trend_date = trend[0];
    var trend_data = trend[1];
    c3.generate({
        bindto: '#trend-chart',
        data: {
            x: 'x',
            columns: [
                trend_date,
                trend_data
            ],
            colors: {
                'completed hours': '#f48191'
            }
        },
        axis: {
            x: {
                type: 'timeseries',
                tick: {
                    fit: true,
                    format: '%Y-%m-%d'
                }
            }
        }
    });
</script>
{% endblock %}