{% extends 'timeManagement/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4 text-center">
        <h4>Today's Summary</h4>            

    </div>
    <div class="col-md-4 text-center">
        <h4>TODO</h4>
        {% for item in today_items %}
            <span>{{ item.time_item }}: </span>  
            <span>{{ item.task_description }}</span>                  
        {% endfor %}  
    </div>
    <div class="col-md-4 text-center">
        <h4>All Tasks Summary</h4>
    </div>    
</div>
{% endblock %}