{% extends 'mysite/base.html' %}

{% block content %}
    <div class ="row all_posts-blocks">
        <div class="col-md-12">
            <h2 class="all_posts-title">Technical blog
                <a href="{% url 'new_post' %}" style="color:#f48191; font-size:20px; margin: 0 0 20px 7px;">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </h2>
        </div>
    </div>
    {% for post in posts %}
        <div class="row all_posts-blocks">
            <div class="col-md-12">
                <span><a href="{% url 'post_details' pk=post.pk %}" class="all_posts-post_title">{{ post.title }}</a></span>
                <span class="all_posts-tag">{{ post.category }}</span>
                <p><em>By {{ post.author }}</em> </p>
                <p class="all_posts-text">{{ post.text }}</p>
                <span class="all_posts-time">Published on {{ post.published_date }}</span>
            </div>
        </div>
    {% endfor %}
{% endblock %}